@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

@import './base/base';
@import './base/variables';
@import './base/mixins';

@import './blocks/buttons';
@import './blocks/promo';
@import './blocks/title';
@import './blocks/sidepanel';
@import './blocks/menu';
@import './blocks/about';
@import './blocks/cv';
@import './blocks/skills';
@import './blocks/portfolio';
@import './blocks/price';